@media screen and (max-width: 1080px) {
  * {
    /* background-color: red; */
  }
}

@media screen and (max-width: 950px) {
  .caret {
    display: none;
  }

  img.profile-icon {
    margin-right: 0;
  }
}

@media screen and (max-width: 885px) {
  nav {
    display: none;
  }
}

@media screen and (max-width: 885px) {
}
