/* header start */
header,
nav > ul,
.first-navigation {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
header {
  width: 100%;
  height: 68px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  font-size: 14px;
  background-color: #141414;
  z-index: 10;
  /* width: -webkit-fill-available; */
}
#logo img {
  height: 25px;
  margin-right: 25px;
}
/* header end */
