/* image-wrapper start */
#image-wrapper img {
  width: 100%;
  position: absolute;
  z-index: -1;
}
.rating {
  position: absolute;
  right: 0;
  bottom: 28%;
  background-color: rgba(51, 51, 51, 0.6);
  border: 3px #dcdcdc;
  border-left-style: solid;
  padding: 1rem 3.5vw 1rem 0.8vw;
  display: flex;
  height: 1.25rem;
  align-items: center;
}
.rating svg {
  width: 1.75rem;
}
/* image-wrapper end */

nav > ul > a {
  margin-left: 18px;
}

/* contents-lists start */
.contents-lists {
  margin-bottom: 3.125rem;
  /* 버튼 호버 시 크기 증가할 때 오버플로 되는 것 방지 */
  overflow: hidden;
}
.contents-lists,
footer {
  position: relative;
  top: 78vh;
}
.list {
  position: relative;
}
.card img {
  border-radius: 0.2vw;
  width: 18vw;
  /* width: 14.2rem; */
  /* height: 10vw; */
  padding: 0 2px;
}
.boxart {
  width: 229px;
  padding: 0 2px;
}
.boxart img {
  border-radius: 6px;
  width: 50%;
}
.boxart div {
  width: 50%;
  height: 166px;
}
.boxart a {
  display: flex;
}

.contents-lists .list ul {
  display: flex;
}
.contents-lists h3 {
  font-size: 1.4vw;
  padding: 10px 0 15px 0;
}
/* svg path 아이콘 기본 하얀색으로 설정 */
.contents-lists .arrow-prev svg path,
.contents-lists .arrow-next svg path {
  fill: #fff;
}
.list {
  display: flex;
  justify-content: center;
  margin-bottom: 1.25rem;
}
.arrow-prev,
.arrow-next {
  position: absolute;
  top: 0;
  z-index: 1;
  cursor: pointer;
  height: 130px;
  width: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: transparent;
}
.arrow-prev:hover svg,
.arrow-next:hover svg {
  transform: scale(1.8); /*  default */
  -webkit-transform: scale(1.8); /*  크롬 */
  -moz-transform: scale(1.8); /* FireFox */
  -o-transform: scale(1.8); /* Opera */
  transition: all 0.3s ease-in-out;
}
.arrow-prev {
  left: -52px;
}
.arrow-next {
  right: -52px;
}
.carousel_container {
  width: 72rem;
  overflow: hidden;
  display: flex;
}
.container {
  /* list width만큼 움직여주기 */

  transition-duration: 0.8s;
}
.row {
  margin: 2rem 0;
}
/* footer start */
footer {
  max-width: 980px;
  margin: 1.25rem auto;
  padding-bottom: 1.25rem;
  /* position: relative;
  top: -175px; */
}
footer .link-wrapper,
footer .copy-text {
  font-size: 13px;
  color: gray;
}
footer .social-wrapper ul,
footer .link-wrapper ul {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 1em;
}
footer .social-wrapper ul li {
  margin-right: 15px;
  padding: 0 2px;
}
footer .link-wrapper ul li {
  margin-bottom: 16px;
  width: 245px;
}
.service-code {
  margin-bottom: 1.25rem;
  font-size: 13px;
  background-color: transparent;
  outline: 1px solid gray;
  color: gray;
  padding: 0.5em;
}
.service-code:hover {
  outline: 1px solid #fff;
  color: #fff;
}
.copy-text {
  font-size: 11px;
  line-height: 1.4em;
}
/* footer end */
.login-wrapper {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
