.card img {
  /* width: 18vw; */
  /* width: 14.2rem; */
  height: 10vw;
  position: relative;
}
.card {
  position: relative;
}

.card-wrapper:hover {
  /* height: 12vw; */
  /* transform: translate3d(10px, 0, 10px); */
  position: absolute;
  z-index: 10;
  transform: scale(1.4);
  /* transition: all 0.2 ease-in-out; */
  transition-duration: 0.5s;
  position: relative;
  z-index: 10;
}

.card-description {
  display: none;
  z-index: 10;
  position: relative;

  background-color: #141414;
}

.card:hover .card-description {
  display: block;
}
