/* contents-lists start */
.contents-lists {
  margin-bottom: 3.125rem;
  /* 버튼 호버 시 크기 증가할 때 오버플로 되는 것 방지 */
  overflow: hidden;
}
.contents-lists {
  position: relative;
  top: 78vh;
}

.boxart {
  width: 229px;
  padding: 0 2px;
}
.boxart img {
  border-radius: 6px;
  width: 50%;
}
.boxart div {
  width: 50%;
  height: 166px;
}
.boxart a {
  display: flex;
}

.contents-lists .list ul {
  display: flex;
}
.contents-lists h3 {
  font-size: 1.4vw;
  padding: 10px 0 15px 0;
}
/* svg path 아이콘 기본 하얀색으로 설정 */
.contents-lists .arrow-prev svg path,
.contents-lists .arrow-next svg path {
  fill: #fff;
}
.list {
  display: flex;
  justify-content: center;
  margin-bottom: 1.25rem;
  position: relative;
  width: 100%;
}

.arrow-prev,
.arrow-next {
  position: absolute;
  top: 0;
  z-index: 1;
  cursor: pointer;
  height: 10vw;
  width: 4vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  /* background-color: transparent; */
}
.arrow-prev:hover svg,
.arrow-next:hover svg {
  transform: scale(1.8); /*  default */
  -webkit-transform: scale(1.8); /*  크롬 */
  -moz-transform: scale(1.8); /* FireFox */
  -o-transform: scale(1.8); /* Opera */
  transition: all 0.3s ease-in-out;
}

.arrow-prev:hover,
.arrow-next:hover {
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 0.3s ease-in-out;
}
.arrow-prev {
  left: -52px;
}
.arrow-next {
  right: -4vw;
  background-color: rgba(0, 0, 0, 0.4);
}
.carousel_container {
  width: 80em;
  /* overflow: hidden; */
  display: flex;
}
.container {
  /* list width만큼 움직여주기 */
  transition-duration: 0.8s;
}
.row {
  margin: 2rem 0;
}
