/* footer start */
footer {
  max-width: 980px;
  margin: 1.25rem auto;
  padding-bottom: 1.25rem;
}

footer.main-footer {
  position: relative;
  top: 38vw;
  margin: 0 auto;
}

footer .link-wrapper,
footer .copy-text {
  font-size: 13px;
  color: gray;
}

footer .social-wrapper ul,
footer .link-wrapper ul {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 1em;
}
footer .social-wrapper ul li {
  margin-right: 15px;
  padding: 0 2px;
}
footer .link-wrapper ul li {
  margin-bottom: 1.2rem;
  width: 25%;
  align-items: center;
}
.service-code {
  margin-bottom: 1.25rem;
  font-size: 13px;
  background-color: transparent;
  outline: 1px solid gray;
  color: gray;
  padding: 0.5em;
}
.service-code:hover {
  outline: 1px solid #fff;
  color: #fff;
}
.copy-text {
  font-size: 0.66rem;
  line-height: 1.4em;
}
.copy-text-block {
  /* border: 1px solid red; */
  margin-top: 4px;
  font-size: 0.65rem;
}
